// main: main.less

.navbar {
    border-bottom: 1px solid #4A72B5;
    background: #4285f4;
    color: white;
}

.page .tab {
    background-image: url('../img/bg.jpg');
    background-size:  cover;
}

.toolbar-through .page-content { padding-bottom: 50px; }
.searchbar-through > div:last-child { padding-bottom: 44px; }

.list-block {
    &.inset {
        .list-group-title {
            border-radius: 5px;
        }
    }
}

.scroll-block {
    overflow: auto;
    height: 100%;
}
