// main: main.less

.navbar {
    border-bottom: 1px solid #4A72B5;
    background: #4285f4;
    color: white;
}

.panel-left {
    overflow: hidden;
}

.page .tab {
    background-image: url('../img/bg.jpg');
    background-size:  cover;
}

.toolbar-through .page-content { padding-bottom: 50px; }

.list-block {
    &.inset {
        .list-group-title {
            border-radius: 5px;
        }
    }
}

.scroll-block {
    overflow: auto;
    height: 100%;
    
    &.toolbar-through {
        
        > div:last-child {
            padding-bottom: 50px;
        }
    }
}

.home-block {
    width: 100%;
    height: 100%;
    background-color: #efeff4;
    border-top: 1px solid #948888;
}

.list-block {
    .item-content.align-left {
        
        padding-left: 0px;
        
        .item-inner {            
            padding-left: 15px;
            justify-content: flex-start;
            
            .item-media {
                margin-right: 10px;
            }

            .item-after {
                flex-grow: 1;
                display: block;
                text-align: right;
            }
        }
        
    }
}
