// main: main.less

BODY {
    width: 100%;
    height: 100%;
}

.strike { text-decoration: line-through; }
.no-margin { margin: 0px; }
.pull-right { float: right; }
.center { text-align: center; }
.padding5x { padding: 5px; }