// main: main.less

// Helper function

.drop-shadow(@x: 0, @y: 0, @blur: 1px, @color: #000)
{
	box-shadow: @arguments;
	-moz-box-shadow: @arguments;
	-webkit-box-shadow: @arguments;
}

.vertical-gradient(@top, @bottom)
{
	background: -webkit-linear-gradient(top, @top, @bottom);
	background: -moz-linear-gradient(top, @top, @bottom);
	background: -o-linear-gradient(top, @top, @bottom);
	background: -ms-linear-gradient(top, @top, @bottom);
	background: linear-gradient(to bottom, @top, @bottom);
}

.border-radius (@radius: 5px )
{
	border-radius: @radius;
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
}