// main: main.less

/* Custom css */
.navbar {

    border-bottom: 1px solid #4A72B5;
    background: #4285f4;
    color: white;
    
    .small {
        font-size: 10px;
        font-style: italic;
        margin: 0px 5px;
    }
}

.profile-block {
    padding: 30px 0px;
    color: #FFFFFF;
    text-align: center;
    
    .profile-image {
        border: 2px solid #FFFFFF;
        border-radius: 5px;
        height: 64px;
        width: 64px;
        margin: auto;
        
        > img {
            height: 64px;
            border-radius: 5px;
        }
    }
    
    .profile-title {
        margin-top: 5px;
        font-weight: bold;
        font-size: 18px;
    }
    
    .profile-email {
    }
}

.home-block {
    
    .scroll-block {
        > div:last-child {
            padding-bottom: 160px;
        }
    }
}

.loading-overlay {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-image: url('../img/bg.jpg');
    background-size: cover;
    z-index: 999999;
    color: white;
    text-align: center;
    
    img { vertical-align: middle; }
    
    .loading-header {
        margin: 40px 0px;
        .title { font-size: 26px; }
        .small { font-style: italic; }
    }
    
    .loading-content {
        margin: 40px 40px;
        background: rgba(37, 37, 37, 0.5);
        border-radius: 5px;
        padding: 20px;
    }
}