// main: main.less

@primaryColor: #2B88D9;

.todos-view {
    
    background-image: url('../images/bg.jpg');
    background-size:  cover;
    
    .list-inset { background-color: transparent; }
    .ionic-refresher-content { color: white; }
    .ionic-scroll { border: none; }
    .spinner { stroke: white; }
    .padding-top { padding-top: 3px; }
    
    .bar.bar-positive {
        border: none;
        background-color: rgba(0, 0, 0, 0.25);
        background-size: 100% 0px;
    }
    
    .item.todo {
        .flexbox();
        .flex-direction(row);
        .flex-align-items(center);
        .border-radius();
        
        padding: 0px 0px 0px 0px;

        margin-bottom: 5px;
        border: none;
        
        .drag {
            height: 34px;
            width: 2px;
            background: url("../images/bar.png") no-repeat center center;
            margin-right: 10px;
        }
        
        .inprogress {
            margin: 6px;
            color: #777;
            font-style: italic;
            font-size: 11px;
        }
        
        .star
        {
            color: #B6B6B6;
            height: 36px;
            width: 36px;
            padding: 8px;

            &:hover {
                color: #787878;
            }

            &.starred {
                color: #FFC900;
            }
        }
        
        .title
        {
            .flex-grow(1);
            text-shadow: 0 1px 0 #FFF;
        }
        
        &.odd { background-color: #EFEFEF; }
        &.done {
            opacity: 0.7;
            .title { text-decoration: line-through; }
        }
    }
    
    .search.item { 
        .border-radius();

        padding: 4px 10px;
        margin-bottom: 10px;
        border: none;
        background-color: rgba(0, 0, 0, 0.35);

        > * {
            color: white;
        }

        ::-webkit-input-placeholder {
            color: #FFF;
        }
    }
    
    .completed {
        text-align: center;
        span {
            padding: 6px 20px;
            border-radius: 5px;
            background-color: rgba(0, 0, 0, 0.38);
            color: white;
        }
    }
}

.userinfo-view {
    background-color: #3C3D47;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    
    h2 { color: white; margin-bottom: 0px; }
    p { color: #8a8b91; }
    .drop-shadow(0px, 1px, 0px, rgba(255, 255, 255, 0.1));
    
    .item-avatar {
        padding: 8px 8px 8px 55px;
        min-height: 0px;
    }
    
    .item-avatar img:first-child {
        top: 8px;
        left: 8px;
    }
}

.settings-view {
    
    background-image: url('../images/bg.jpg');
    background-size:  cover;
    
    .bar.bar-positive {
        border: none;
        background-color: transparent;
        background-size: 100% 0px;
    }
    
    .list {
        border: none;
        
        .icon {
            font-size: 22px;
            color: #777;
        }
    }
    
    .bar-user {
        margin-top: 44px;
        text-align: center;
        padding: 0px 15px 15px 15px;
        color: #FFF;
        font-family: "Lato", "Helvetica", "Tahoma", "Verdana", "Arial";
        font-size: 16px;
        
        .title {
            margin: 5px 0px;
        }
        
        img:first-child {
            max-width: 50px;
            max-height: 50px;
            width: 100%;
            height: 100%;
        }
    }
    
    .has-subheader {
        top: 145px;
    }
}