// main: main.less

.todos-view {
    .search {
        
        .item {
            padding: 0px 10px;
        }
    }
}

.userinfo-view {
	.item-avatar > button {
		position: absolute;
		top: 10px;
		right: 5px;
	}
}