<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets"
		xmlns:gap="http://phonegap.com/ns/1.0"
		id="com.phi.todo"
		versionCode="1"
		version="2.0.0">

    <name>PhiTodo</name>
    <description>
        To-Do List & Task Management
    </description>

    <author email="ghalex@gmail.com">
        Ghiura Alexandru
    </author>

</widget>