<ion-modal-view>
    
    <ion-header-bar>
        <button class="button button-clear button-positive" ng-click="saveTodo()" ng-disabled="!newTodo.title || newTodo.title.length < 2">Save</button>
        <h1 class="title">New Todo</h1>
        <button class="button button-clear button-primary" ng-click="todoModal.hide()">Cancel</button>
    </ion-header-bar>
    
    <ion-content class="padding">
        <div class="list">
            <label class="item item-input">
                <input type="text" placeholder="Todo title..." ng-model="newTodo.title">
            </label>
        </div>
        <div class="list">
            <div class="item item-divider">List</div>
            <label class="item item-input item-select">
                <div class="input-label">
                    Choose list:
                </div>
                <select>
                    <option selected>Inbox</option>
                    <option>PhiTodo</option>
                    <option>PhiTrack</option>
                </select>
            </label>
        </div>
    </ion-content>
</ion-modal-view>