<div class="tab" ng-controller="TodosCtrl">
    
    <form class="searchbar no-margin">
        <div class="searchbar-input">
            <input type="search" placeholder="Search" ng-model="searchText">
            <a href="#" class="searchbar-clear"></a>
        </div>
    </form>
    
    <div class="scroll-block toolbar-through">
    
        <div class="list-block inset">
            <ul>
                <li>
                    <a href="#" class="item-link list-button" ng-click="reload()">
                        <div ng-show="loading" class="todos-preloader"><span class="preloader"></span></div>
                        <label>Click to reload</label>
                    </a>
                </li>
            </ul>
        </div>

        <div class="list-block inset">
            
            <div class="list-group">
                <ul>
                    <li class="list-group-title">ghalex@gmail.com</li>
                    
                    <li class="item-content todo" ng-repeat="todo in todos">
                        <div class="item-media" ng-click="done(todo)">
                            <i ng-class="{'checkbox-done-icon': todo.isDone}" class="icon checkbox-icon"></i>
                        </div>
                        <div class="item-inner">
                            <div class="item-title" ng-class="{'strike':todo.isDone}">
                                <div>{{todo.subject}}</div>
                                <div class="todo-snippet">{{todo.snippet}}</div>
                            </div>
                            <div class="item-after"></div>
                        </div>
                    </li>
                    
                    <li ng-show="todos.length == 0">
                        <div class="center padding5x">No todos! Hurray !</div>
                    </li>
                    
                    
                </ul>
            </div>
            
        </div>
    
    </div>
</div>